body{
    background-color:#f4f4f4 ;
    color:rgb(169, 92, 205) ;
     font-family: 'Heebo', sans-serif;
    line-height: 1.8em;
    margin: 40px;
}

.border {
    border: rgb(169, 92, 205) 5px;
    border-radius: 1em;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}
.box-1{
    background-color: rgb(236, 214, 247);
    color:orangered ;
    border: 3px rgb(169, 92, 205) ;
    padding: 10px;
}
img.photo {
	border: 20px solid rgb(10, 31, 221);
	padding: 4px;}

.shadow {
    float: left;
    background-color: rgb(255, 255, 255);
}
.shadow img {
    margin: -4px 4px 4px -4px;
    display: block; 
    position: relative;
    padding: 4px;
    background-color: #be01e4;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #888;
    border-bottom: 5px solid rgb(142, 230, 233);
}

.header, main {
    border: rgb(182, 100, 237) 4px solid;
    margin: 10px 15px;
    margin: auto;
    padding: 25px 35px;
    max-width: 50%;
}

.navigation{
    margin: 15px;
    padding: 35px;
    display: block; 
    position: relative;
    padding: 4px;
    background-color: rgb(236, 214, 247);
    border-left: 3px solid rgb(252, 174, 174);
    border-top: 2px solid rgb(180, 235, 232);
    border-right: 2px solid rgb(231, 68, 68);
    border-bottom: 5px solid rgb(142, 230, 233);
    max-width: 50%;
    margin:auto;
}

@media (min-width: 1024px) {
    body {
        background-color:rgb(229, 235, 228);
        color:teal;
        font-size: 13px;
        line-height: 1.6em;
    }
}